@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400&display=swap');

.herobanner__container{
    width: 100%;
    height: 300px;
    background-image: url("../../Assets/Images/banner2.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.herobanner__container h1,  .herobanner__container span{
    font-family: 'Montserrat', sans-serif;
}

.herobanner__container h1{
    color: white;
    letter-spacing: 0.5px;
    font-weight: 700;
    margin: 20px 0;
}

.herobanner__container span:first-of-type{
    font-weight: 400;
    color: grey;
    font-style: italic;
    margin-bottom: 10px;
    text-align: center;
}
