@import url('https://fonts.googleapis.com/css2?family=Schibsted+Grotesk:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mukta&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');


.crypto-coin__detail-container, .flex-direction-row{
    display: flex;
}
.crypto-coin__sidebar{
    width: 35%;
    height: 100vh;
    color: white;
    padding: 20px;
    border-right: 1px solid white;
}

.crypto-coin__info p{
    font-family: 'Mukta', sans-serif;
    letter-spacing: 0.5px;
}

.flex-direction-row{
    align-items: center;
    margin-top: 15px;
}

.flex-direction-row:last-of-type{
    margin-bottom: 10px;
}

.crypto-coin__info h4{
    margin: 15px 0;
}
.crypto-coin__info h4, .flex-direction-row label, .btn-timeframe{
    font-family: 'Schibsted Grotesk', sans-serif;
    font-weight: 700;
}

.flex-direction-row label{
    margin-right: 15px;
    font-size: 30px;
}

.flex-direction-row h6{
    font-family: 'Quicksand', sans-serif;
    color: rgb(224, 221, 221);
}

.crypto-coin__icon{
    width: 100px;
    height: 100px;
    transition: all 0.3s ease-in-out;
}

.crypto-coin__icon:hover{
    transform: scale(1.06);
}

.crypto-coin__analysis{
    width: 65%;
    padding: 10px;
}

.timeframes{
    display: flex;
    flex-wrap: wrap;
    margin-top: 15px;
}

.btn-timeframe{
    width: 100px;
    height: 40px;
    margin: 5px;
    padding: 5px;
    border: 1px solid gold;
    border-radius: 3px;
    color: white;
    background-color: transparent;
    flex-grow: 1;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}

.btn-timeframe:not(:last-of-type){
    margin-right: 15px;
}

.btn-timeframe:hover{
    background-color: gold;
    color: black;
}

@media screen and (max-width: 686px){
    .crypto-coin__detail-container{
        flex-direction: column;
    }

    .crypto-coin__sidebar{
        width: 100%;
        height: 450px;
        border-right: none;
        border-bottom: 1px solid white;
    }

    .crypto-coin__analysis{
        width: 100%;
    }

}

@media screen and (max-width: 388px){
    .crypto-coin__sidebar{
        height: 550px;
    }
    .flex-direction-row label{
        font-size: 20px;
        margin-right: 7px;
    }
}

@media screen and (max-width: 244px){

    .flex-direction-row{
        margin-top: 8px;
    }

    .flex-direction-row label{
        font-size: 15px;
        margin-right: 7px;
    }
}